.elements__delete-button{
    position: absolute;
  top: 20px;
  right: 20px;
  background: url(../../../img/deletebutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 19px;
  width: 18px;
  border: none;
  cursor: pointer;
}