.profile__edit-button{
    background-color: transparent;
    background-image: url(../../../img/editbutton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    outline: none;
    padding: 0;
    margin: 0 auto;
    height: 24px;
    width: 24px;
    transition: .2s;
}

.profile__edit-button:hover{
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 821px) {
    .profile__edit-button{
        height: 18px;
        width: 18px;
    }
}