.profile__info {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1104px) {
  .profile__info {
    width: 100%;
    flex-direction: column;
    padding: 0 0 36px 0;
  }
}
