.page {
    background-color: #000;
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto 0;
    padding: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}