.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: calc(1 / 24 * 29);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 608px) {
  .popup__title {
    font-size: 18px;
    line-height: calc(1 / 18 * 22);
  }
}
