.popup__submit-button {
    background: rgba(0, 0, 0, 1);
    height: 50px;
    width: 100%;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
}

.popup__submit-button:hover {
    background: rgba(0, 0, 0, 0.8);
}