.cards__button_type_del {
  background-image: url(../../../../images/del-button.svg);
  background-position: 50%;
  position: absolute;
  right: 18px;
  top: 20px;
  width: 18px;
  height: 19px;
  z-index: 2;
}

.cards__button_type_del:hover {
  opacity: 0.6;
}
