.cards__button_type_like {
  background-image: url(../../../../images/like-button.svg);
  width: 25px;
  height: 20px;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.cards__button_type_like:hover {
  opacity: 0.6;
}
