.profile__button_type_edit {
 width: 24px;
 height: 24px;
 background-image: url(../../../../images/edit-button.svg);
 border: 1px solid #fff;
 align-self: end;
 margin: 0 0 8px;
 padding: 0;
}

@media (max-width: 650px) {
 .profile__button_type_edit {
     margin: 0 0 8px 15px;
    }
}

@media (max-width: 425px) {
 .profile__button_type_edit {
     width: 18px;
     height: 18px;
     margin: 0 0 7px 10px;
    }
}
