.popup__button-close {
  background-image: url(../../../images/popup-btn.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.popup__button-close:hover {
   opacity: 0.6;
}

@media screen and (max-width: 425px) {
    .popup__button-close {
     width: 20px;
     height: 20px;
     right: 0;
     top: -35px;
   }
 }
