.profile__button {
 background-color: #000;
 background-repeat: no-repeat;
 background-position: 50%;
 color: #fff;
 box-shadow: none;
 margin: 0;
 padding: 0;
 cursor: pointer;
}

.profile__button:hover {
 opacity: 0.6;
}
