.profile__name {
  margin: 0 18px 16px 0;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 294px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

@media screen and (max-width: 821px) {
  .profile__name {
    font-size: 27px;
    line-height: normal;
    max-width: 189px;
    margin: 0 10px 14px 0;
  }
}
