.elements__like {
    background: url(../../../img/likebutton.svg);
    border: 0;
    width: 23px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.elements__like:hover {
    opacity: 0.5;
}