.photo-grid__like{
    background-color: transparent;
    background-image: url(../../../img/likebutton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    height: 19px;
    width: 22px;
}

.photo-grid__like:hover{
    opacity: .5;
    cursor: pointer;
}