.elements__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 17px 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
