.popup__title {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    padding-top: 34px;
    padding-bottom: 54px;
  }

  @media screen and (max-width: 475px) {
    .popup__title{
      font-size: 18px;
      padding-bottom: 75px;
    }
  }